---
import Layout from "../../../layouts/PageLayout.astro";
import { Picture } from "@astrojs/image/components";
import Cta from "~/components/Cta.astro";

const client_win = [
  {
    title: "Unija Challenge, Sarajevo - 1st Place",
    body: "This is the picture of our team winning the first place in a local competition, Unija Challenge 2023.",
    img_url: "/images/client_win/card-client-winss4.png",
  },
  {
    title: "Nsoft Nsecure Code CTF - 1st Place",
    body: "A moment of pure happiness, our team's lead security engineer won Nsoft's Nsecure CTF in Mostar.",
    img_url: "/images/client_win/card-client-winss5.png",
  },
  {
    title: "Unija Challenge, Ljubljana - 2nd Place",
    body: "A great moment for our team, we've placed 2nd in Slovenia, Ljubljana at Unija Challenge 2023.",
    img_url: "/images/client_win/card-client-winss6.png",
  },
  {
    title: "Partnership with Webouncer by Kralos",
    body: "Our first partnership, we've partnered up with a team of people from Germany that made Webouncer.",
    img_url: "/images/client_win/card-client-winss7.png",
  },
  {
    title: "Endorsement by Alen Vlahovljak",
    body: "A lengthy endrosement from one of our clients, Alen Vlahovljak.",
    img_url: "/images/client_win/card-client-winss1.png",
  },
  {
    title: "Endorsement by Luka Miljuš",
    body: "Words of praise by Luka Miljuš, our beloved client we've worked when we first started.",
    img_url: "/images/client_win/card-client-winss2.png",
  },
  {
    title: "Endorsement by Merjem Kapo",
    body: "A lovely endorsement by a coworker of our team's security engineer, Eman Ćatić.",
    img_url: "/images/client_win/card-client-winss3.png",
  },
];
---

<Layout>
  <title>Client Wins | Starship Shield</title>
  <meta
    name="description"
    content="Explore Starship Shield's grand achievements and recent wins in solving the security puzzle piece by piece."
  />
  <article>
    <section
      class="flex flex-col gap-x-8 max-w-5xl px-4 pt-8 mx-auto lg:gap-4 lg:py-8"
    >
      <section class="mx-auto md:col-span-5 md:text-center">
        <h1 class="max-w-2xl mb-4 h1 text-black">
          Solving the security puzzle <span class="text-primary"
            >piece by piece</span
          >
        </h1>
        <p class="max-w-2xl mb-6 p1">
          Explore our team's grand achievements and recent wins
        </p>
        <section
          class="rounded-xl md:mx-auto md:rounded-md max-w-2xl py-2 flex flex-col md:flex-row gap-x-2 gap-y-4 justify-center items-center"
        >
          <section class="flex gap-x-4">
            <a
              class="link-case text-xs md:text-base py-4 md:p-0 w-40"
              href="/story-type/client-stories">Success Stories</a
            >
            <a
              class="link-case-active w-36 py-4 text-xs md:text-base"
              href="/story-type/client-wins">Client Wins</a
            >
          </section>
        </section>
      </section>
    </section>
    <section class="w-full max-w-5xl px-4 mx-auto mt-24">
      <h1 class="h2 max-w-lg mx-auto text-center mb-4">Our Wins</h1>

      <section class="grid grid-cols-1 md:grid-cols-2 w-full gap-8">
        {
          client_win.map(({ title, body, img_url }, idx: number) => (
            <section class="paper  p-5 rounded-md">
              <Picture
                class="w-full h-60  rounded-md"
                src={img_url}
                widths={[1600, 800]}
                sizes="(max-width: 600px) 100vw, (max-width: 900px) 50vw, 432px"
                aspectRatio="16:9"
                alt={`Client Win - ${title}`}
              />
              <section class="">
                <h5 class="my-4 h3 text-black" set:text={title} />
                <p class="p2" set:text={body} />
              </section>
            </section>
          ))
        }
      </section>
    </section>
    <Cta />
  </article>
</Layout>
