---
import Layout from "../../../layouts/PageLayout.astro";
import { Picture } from "@astrojs/image/components";
import Cta from "~/components/Cta.astro";

const client_win = [
  {
    title: "Noteworthy technology acquisitions 2021",
    body: "Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.",
    img_url: "/images/client_win/card-client-winss4.png",
  },
  {
    title: "Noteworthy technology acquisitions 2021",
    body: "Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.",
    img_url: "/images/client_win/card-client-winss5.png",
  },
  {
    title: "Noteworthy technology acquisitions 2021",
    body: "Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.",
    img_url: "/images/client_win/card-client-winss6.png",
  },
  {
    title: "Noteworthy technology acquisitions 2021",
    body: "Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.",
    img_url: "/images/client_win/card-client-winss1.png",
  },
  {
    title: "Noteworthy technology acquisitions 2021",
    body: "Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.",
    img_url: "/images/client_win/card-client-winss2.png",
  },
  {
    title: "Noteworthy technology acquisitions 2021",
    body: "Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.",
    img_url: "/images/client_win/card-client-winss3.png",
  },
  {
    title: "Noteworthy technology acquisitions 2021",
    body: "Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.",
    img_url: "/images/client_win/card-client-winss7.png",
  },
];
---

<Layout>
  <title>Starship Shield - Client Wins</title>
  <meta
    name="description"
    content="Discover advanced security solutions with Starship Shield. From robust boundary definition to tailored protection strategies, we're committed to securing your digital assets."
  />
  <article>
    <section
      class="grid grid-cols-1 md:grid-cols-5 gap-x-8 max-w-5xl px-4 pt-8 mx-auto lg:gap-4 lg:py-16 border-b-4 border-paper"
    >
      <section class="md:col-span-3">
        <h1 class="max-w-2xl mb-4 h1">
          Fixing the security problem <br />
          <span class="text-primary">step by step.</span>
        </h1>
        <p class="max-w-2xl mb-6 p1">
          Security takes time. Shift your security thinking slowly. See our
          clients and our small security achievements.
        </p>
        <section
          class="rounded-xl md:rounded-md max-w-2xl py-2 flex flex-col md:flex-row gap-x-2 gap-y-4 justify-start items-center"
        >
          <section class="flex gap-x-4">
            <a
              class="link-case text-xs md:text-base py-4 md:p-0 w-40"
              href="/story-type/client-stories">Success Stories</a
            >
            <a
              class="link-case-active w-36 py-4 text-xs md:text-base"
              href="/story-type/client-wins">Client Wins</a
            >
          </section>
        </section>
      </section>
      <section class="w-full hidden md:block md:col-span-2 bg-red-200">
      </section>
    </section>
    <section class="w-full max-w-5xl px-4 mx-auto mt-24">
      <h1 class="h2 max-w-lg mx-auto text-center mb-4">Our Wins</h1>

      <section class="grid grid-cols-1 md:grid-cols-2 w-full gap-8">
        {
          client_win.map(({ title, body, img_url }, idx: number) => (
            <section class="paper  p-5 rounded-md">
              <Picture
                class="w-full h-60  rounded-md"
                src={img_url}
                widths={[1600, 800]}
                sizes="(max-width: 600px) 100vw, (max-width: 900px) 50vw, 432px"
                aspectRatio="16:9"
                alt="sa"
              />
              <section class="">
                <h5 class="my-4 h3 text-black" set:text={title} />
                <p class="p2" set:text={body} />
              </section>
            </section>
          ))
        }
      </section>
    </section>
    <Cta />
  </article>
</Layout>
