---
import Layout from "../../../layouts/PageLayout.astro";
import Header from "../../../components/widgets/Header.astro";
import Hero from "../../../components/widgets/Hero.astro";
import { headerData } from "../../../data";
import { Picture } from "@astrojs/image/components";
import Icon from "astro-icon";
import Cta from "~/components/Cta.astro";
const meta = {
  title: "Client wins",
  description: "The latest security wins for our clients.",
  dontUseTitleTemplate: true,
};
---

<Layout meta={meta}>
  <div
    class="grid grid-cols-1 md:grid-cols-5 gap-x-8 max-w-5xl px-4 pt-8 mx-auto lg:gap-4 lg:py-16"
  >
    <div class="md:col-span-3">
      <h1 class="max-w-2xl mb-4 h1">
        How to secure your <br />
        <span class="text-primary">high-conversion</span> site from cyber criminals?
      </h1>
      <p class="max-w-2xl mb-6 p1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
        voluptatum aspernatur itaque.
      </p>
      <div
        class="rounded-xl md:rounded-md max-w-2xl py-2 flex flex-col md:flex-row gap-x-2 gap-y-4 justify-start items-center"
      >
        <div class="flex gap-x-4">
          <a
            class="link-case text-xs md:text-base py-4 md:p-0 w-32"
            href="/story-type/case-study">Case Studies</a
          >
          <a
            class="link-case-active w-36 py-4 text-xs md:text-base"
            href="/story-type/client-wins">Client Wins</a
          >
        </div>
      </div>
    </div>
    <div class="w-full hidden md:block md:col-span-2 bg-red-200"></div>
  </div>
</Layout>
