---
import Layout from "../../../layouts/PageLayout.astro";

import Header from "../../../components/widgets/Header.astro";
import Hero from "../../../components/widgets/Hero.astro";
import Calendly from "../../../components/Calendly.astro";
import { headerData } from "../../../data";

const meta = {
  title: "Starship Shield Hybrid Assessment",
};
---

<Layout {meta}>
  <Fragment slot="header">
    <Header {...headerData} showRssFeed showToggleTheme position="right" />
  </Fragment>

  <div class="relative max-w-7xl mx-auto px-4 sm:px-6 pt-12">
    <h1 class="h1 text-center">What time fits you?</h1>
  </div>
  <div>
    <div class="flex w-full justify-center items-center mt-4 p-4">
      <div class="max-w-4xl my-8 px-6 py-12 bg-white border rounded-xl shadow">
        <p class="w-full h3">Quick reminder</p>

        <ul class="mt-4 text-left">
          <li class="mb-2 md:mb-4 p3">
            ✅ <span class="ml-2 md:ml-4">We are not offering reschedules.</span
            >
          </li>
          <li class="mb-2 md:mb-4 p3">
            ✅ <span class="ml-2 md:ml-4"
              >On the 20-minute call we will present a custom tailored security
              sollution.
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class=""><Calendly /></div>
</Layout>
<script>
  function move_progress_bar() {
    let width = 0;

    var elem = document.getElementById("progress_bar");
    var id = setInterval(frame, 20);
    function frame() {
      if (width >= 100) {
        clearInterval(id);
        width = 0;
        elem.style.width = 0;
      } else {
        width++;
        elem.style.width = width + "%";
      }
    }
  }
  move_progress_bar();
  // Call the function when the document loads
</script>
