---
import { SITE } from "~/config.mjs";
import Layout from "~/layouts/PageLayout.astro";
import Cta from "~/components/Cta.astro";
import Hero from "~/components/widgets/Hero.astro";
import Note from "~/components/widgets/Note.astro";
import Features from "~/components/widgets/Features.astro";
import Features2 from "~/components/widgets/Features2.astro";
import Steps from "~/components/widgets/Steps.astro";
import Content from "~/components/widgets/Content.astro";
import LatestPosts from "~/components/blog/LatestPosts.astro";
import FAQs from "~/components/widgets/FAQs.astro";
import Stats from "~/components/widgets/Stats.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";
import { Picture } from "@astrojs/image/components";
import { Icon } from "astro-icon";
import TestimonialCarousel from "../components/TestimonialCarousel";
import CtaCarousel from "../components/CtaCarousel";
const meta = {
  title: "Do you want amplified security? ",
  description:
    "Defining boundaries for a quality security assement is hard. We make it easy.",
  dontUseTitleTemplate: true,
};
const data = [
  {
    icon: "tabler:building",
    title: "Product-Based Companies",
    paragraph:
      "For  firms that  focus on creating and selling their own software products. Where before security and speed was always a trade off.",
  },
  {
    icon: "tabler:users",
    title: "Outsourcing Companies",
    paragraph:
      " For firms that provide software development services to other companies. Where often security can not fit the margin of developing the product.",
  },
  // Add more objects as needed
];
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <div
    class="flex flex-col justify-center items-center text-center gap-y-8 max-w-5xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 mb-24"
  >
    <h1 class="max-w-2xl mb-6 h1">
      Your first step to <br />outer-world security
    </h1>
    <p class="p1 mb-8 max-w-2xl">
      Here at Flowbite we compare a wide range of destinations, flights and
      hotels to conjure up cheap holidays for you to enjoy, time and time again.
    </p>
    <div class="w-full">
      <Picture
        class="h-96 w-100 rounded-md bg-gray-400 mx-auto"
        src={"/images/product11.svg"}
        widths={[1600, 800]}
        sizes="(max-width: 600px) 100vw, (max-width: 900px) 50vw, 432px"
        aspectRatio="16:9"
        alt="sa"
      />
    </div>
  </div>
  <div
    class="w-full max-w-5xl rounded-xl mx-auto px-4 grid gap-x-8 grid-cols-12 mb-24"
  >
    <div class="col-span-12 md:col-span-6 order-1 md:order-1 py-6 rounded-xl">
      <div>
        <div class="flex flex-col">
          <Icon
            name="ri:space-ship-fill"
            class="text-primary w-8 h-8 inline-block"
          />
          <h1 class="h2 my-4">For who is Security Launchpad?</h1>
          <div class="p1">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi,
            aspernatur.
          </div>
          <div class="p1 text-primary">Stop hackers once and for all</div>
        </div>
        {
          data.map(({ icon, title, paragraph }) => (
            <div class="flex w-full flex-col gap-y-3 mt-8">
              <div class="flex items-center gap-x-2">
                <Icon name={icon} class="text-primary w-8 h-8 inline-block" />
                <p class="p1 font-semibold" set:html={title} />
              </div>
              <p class="text-gray-400 p1" set:html={paragraph} />
            </div>
          ))
        }
      </div>
    </div>
    <div
      class="bg-primary rounded-md w-full p-24 h-full col-span-12 md:col-span-6 order-2 md:order-2"
    >
    </div>
  </div>
  <div class="w-full max-w-5xl rounded-xl mx-auto px-4 mb-24">
    <h1 class="h2 mb-8 mx-auto text-center">What clients say about us</h1>
    <CtaCarousel client:load />
  </div>
  <div class="max-w-5xl mx-auto rounded-md mb-24 border-2 border-black">
    <div class="tidycal-embed" data-path="dzemaldzananovic/30-minute-meeting">
    </div>
  </div>
</Layout>

<script src="https://assets.tidycal.com/js/embed.js" async></script>
