---
import { SITE } from "~/config.mjs";
import Layout from "~/layouts/PageLayout.astro";
import { Picture } from "@astrojs/image/components";
import InfoTitle from "~/components/InfoTitle.astro";

const meta = {
  title: "Security assesment calculator",
  description:
    "Check the market price for security assesments using our calculator.",
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <section class="bg-white dark:bg-gray-900">
    <div
      class="pt-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12"
    >
      <InfoTitle
        text="How can you guarantee security in 21 sentury"
        href="/learn-more"
      />
      <h1
        class="mb-4 h1 w-full mx-auto"
        set:text={"Security assesment price calculator"}
      />
      <p
        class="mb-8 p1 lg:text-xl sm:px-16 xl:px-48 w-full mx-auto"
        set:text={`Calculate the realistic average price of a standard security assessment.`}
      />
      <button class="btn-primary btn-md" id="scrollToOptButton"
        >Calculate the price</button
      >
    </div>
  </section>

  <div
    class="mt-32 max-w-5xl mx-auto flex text-center flex-col justify-center items-center"
  >
    <p class="p1 text-primary">Security</p>
    <h2 class="h2">The 2 Core Pillars</h2>
  </div>
  <!-- one rule -->
  <div
    class="grid h-200 grid-cols-1 md:grid-cols-2 gap-8 p-4 w-full max-w-5xl mx-auto mb-24"
  >
    <div
      class="flex flex-col items-center justify-center p-4 md:p-8 md:px-16 bg-paper rounded-xl text-center"
    >
      <Picture
        src={"/images/softwear/card-softwear1.png"}
        class="rounded-xl"
        width={300}
        height={300}
        widths={[400, 768]}
        sizes="100vw, 432px"
        aspectRatio="300:300"
        alt="sa"
      />
      <h3 class="h3 py-4">
        <a class="transition ease-in duration-200 uppercase"
          >Solving the confusing calculations
        </a>
      </h3>
      <p class="p2">
        No need to strain your brain over security assessment prices. Input the
        data, we give you the final price.
      </p>
    </div>

    <div
      class="flex flex-col items-center justify-center p-4 md:p-8 md:px-16 bg-paper rounded-xl text-center"
    >
      <Picture
        src={"/images/softwear/card-softwear3.png"}
        class="rounded-xl"
        width={300}
        height={300}
        widths={[400, 768]}
        sizes="100vw, 432px"
        aspectRatio="300:300"
        alt="sa"
      />
      <h3 class="h3 py-4">
        <a class="transition ease-in duration-200 uppercase"
          >Expertise you can trust
        </a>
      </h3>
      <p class="p2">
        Now you can rely on someone to give you accurate data about security
        assessment prices.
      </p>
    </div>
    <div
      class="col-span-1 md:col-span-3 w-full flex justify-center items-center"
    >
      <button
        class="btn-md btn-primary mx-auto md:w-72 mt-8"
        id="scrollToOptButton2">Calculate The Price</button
      >
    </div>
  </div>
  <div
    class="mb-24 relative grid grid-cols-1 md:grid-cols-2 p-4 max-w-5xl mx-auto"
  >
    <div
      class="bg-paper col-span-1 h-200 w-full md:w-max p-4 rounded-xl md:p-8 md:px-16"
    >
      <div
        id="modal"
        class="hidden mobile-modal fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 p-4 md:max-w-2xl z-50"
      >
        <div
          class="w-full relative p-4 h-full bg-white rounded-lg dark:bg-gray-700"
        >
          <div
            class="w-full relative p-4 h-full bg-white rounded-lg dark:bg-gray-700"
          >
            <h3
              id="modal-title"
              class="text-xl font-semibold text-gray-900 dark:text-white"
            >
              Before You Go
            </h3>
          </div>
          <!-- Modal body -->
          <div class="p-6 space-y-6">
            <p
              id="modal-content"
              class="text-base leading-relaxed text-gray-500 dark:text-gray-400"
            >
              Our calculator shows you the average prices on the market, for the
              precise price please contact our sales.
              <br />
              <br />
            </p>
          </div>
          <!-- Modal footer -->
          <div
            class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600"
          >
            <a
              href="/software/assesment-calculator"
              id="close_modal"
              data-modal-hide="staticModal"
              type="button"
              class="text-white bg-primary focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              >Calculate</a
            >
            <a
              id="sales_button"
              class="text-white bg-secondary focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              href="mailto:sales@starshipshield.com">Sales</a
            >
          </div>
        </div>
      </div>
      <div
        id="opt-page"
        class="flex flex-col justify-center items-center w-full md:w-96"
      >
        <h1 class="sub-title text-center text-xl md:text-2xl">
          GET ACCESS NOW
        </h1>
        <form class="flex w-full flex-col gap-y-2" id="contactForm">
          <label for="name">Full Name</label>
          <input
            placeholder="John Doe"
            class="rounded-full w-full p-2 md:p-4"
            type="text"
            id="name"
            name="name"
          />

          <label for="email">Email Address</label>
          <input
            placeholder="example@business.com"
            class="rounded-full w-full p-2 md:p-4"
            type="email"
            id="email"
            name="email"
          />

          <label for="phone">Phone Number</label>
          <input
            class="rounded-full w-full p-2 md:p-4"
            type="text"
            id="phone"
            name="phone"
            placeholder="+123 42 123 123"
          />

          <button
            type="submit"
            class="shadow-none btn-md btn-primary mx-auto md:w-72 my-4"
            >Calculate Your Expenses</button
          >
        </form>
        <p class="text-xl text-center text-paper">
          P.S. Say goodbye to unfair cyber security offers.
        </p>
        <p class="text-xs text-center">
          YOUR INFORMATION IS 100% SAFE. WE NEVER SHARE YOUR INFORMATION WITH
          ANYONE. BY CLICKING Calculate Your Expenses I AGREE TO RECEIVE AUTO
          AND PRE-MADE E-MAILS AT THE E-MAIL PROVIDED. I UNDERSTAND THAT MY
          CONSENT IS NOT A CONDITION TO PURCHASE ANYTHING.
        </p>
      </div>
    </div>
    <div class="relative flex justify-center items-center col-span-1">
      <Picture
        class="bounce-slow select-none md:rotate-12"
        width={600}
        height={400}
        widths={[400, 768]}
        sizes="100vw, 432px"
        aspectRatio="400:300"
        alt="sa"
        src={"/images/softwear/softwear-coverr2.png"}
      />
    </div>
  </div>
</Layout>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const scrollToOptButton = document.getElementById("scrollToOptButton");
    const scrollToOptButton2 = document.getElementById("scrollToOptButton2");
    const OptSection = document.getElementById("opt-page");

    scrollToOptButton.addEventListener("click", function () {
      // Scroll to the Opt section using smooth behavior
      OptSection.scrollIntoView({ behavior: "smooth" });
    });
    scrollToOptButton2.addEventListener("click", function () {
      // Calculate the target position of the Opt section
      OptSection.scrollIntoView({ behavior: "smooth" });
    });
  });
  //   sending the email
  const form = document.getElementById("contactForm");
  const modal = document.getElementById("modal");
  const close_modal = document.getElementById("close_modal");
  const sales_button = document.getElementById("sales_button");

  const modal_backdrop = document.getElementById("modal-backdrop");
  const modal_content = document.getElementById("modal-content");

  close_modal.addEventListener("click", async (event) => {
    modal.classList.toggle("hidden");
    modal_backdrop.classList.add("hidden");
    document.body.style.overflow = "";
  });
  function move_progress_bar() {
    let width = 0;

    var elem = document.getElementById("progress_bar");
    var id = setInterval(frame, 20);
    function frame() {
      if (width >= 100) {
        clearInterval(id);
        width = 0;
        elem.style.width = 0;
      } else {
        width++;
        elem.style.width = width + "%";
      }
    }
  }
  form.addEventListener("submit", async (event) => {
    event.preventDefault();
    const nameInput = form.querySelector("#name").value;
    const emailInput = form.querySelector("#email").value;
    const phoneInput = form.querySelector("#phone").value;
    const modal_title = document.getElementById("modal-title");

    const apiUrl = "https://back-end-sooty.vercel.app/api";
    const data = {
      fullName: String(nameInput),
      email: String(emailInput),
      phoneNumber: String(phoneInput),
    };
    move_progress_bar();
    try {
      const response = await fetch(`${apiUrl}/create-member`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(data),
      });

      if (response.status === 200) {
        modal.classList.toggle("hidden");
        modal_backdrop.classList.remove("hidden");
        document.body.style.overflow = "hidden";
      } else {
        close_modal?.classList.toggle("hidden");
        sales_button?.classList.toggle("hidden");
        modal.classList.toggle("hidden");
        modal_backdrop.classList.remove("hidden");
        document.body.style.overflow = "hidden";
        modal_title.innerHTML = `<p class='text-primary'>Oops!</p>`;
        modal_content.innerHTML = `
        Something went wrong while loading the calculator. Try reloading the site to fix the problem.<br/><br/>
        If that does not help Please contact us at <a class='text-primary' href='mailto:info@starshipshield.com'>info@starshipshield.com</a>.
      `;
      }
    } catch (error) {
      console.error("Error:", error);
    }
  });
</script>
