---
import Layout from "~/layouts/PageLayout.astro";
import Pricing from "~/components/Pricing.astro";
import PricingTable from "~/components/PricingTable.astro";
---

<Layout>
  <title>Webouncer Pricing | Starship Shield</title>
  <meta
    name="description"
    content="Take a look at our pricing model for our unique product & solution Webouncer."
  />
  <article>
    <section class="w-full max-w-5xl px-4 pt-8 mx-auto py-8">
      <h1 class="h2 text-center mb-8">Pricing Plans</h1>
      <Pricing
        title="Our prices"
        subtitle="Only pay for what you need"
        prices={[
          {
            title: "Starter",
            subtitle: "Optimal choice for personal use",
            price: 19,
            period: "per month",
            items: [
              {
                description: "Professional Dashboard",
              },
              {
                description: "Six-Month Support",
              },
              {
                description: "i-Agent",
              },
            ],
            callToAction: {
              target: "_blank",
              text: "Get Free Demo",
              href: "https://tidycal.com/starshipshield/webouncer",
            },
          },
          {
            title: "Basic",
            subtitle: "Optimal choice for small teams",
            price: 79,
            period: "Per Month",
            items: [
              {
                description: "Professional Dashboard",
              },
              {
                description: "Six-Month Support",
              },
              {
                description: "i-Agent",
              },
              {
                description: "Source Server Included",
              },
              {
                description: "Certification",
              },
            ],
            callToAction: {
              target: "_blank",
              text: "Get Free Demo",
              href: "https://tidycal.com/starshipshield/webouncer",
            },
            hasRibbon: true,
            ribbonTitle: "popular",
          },
          {
            title: "premium",
            subtitle: "Optimal choice for companies",
            price: 199,
            period: "Per Month",
            items: [
              {
                description: "GPDR Conformity",
              },
              {
                description: "Real-Time Monitoring",
              },
              {
                description: "Incident Analysis",
              },
              {
                description: "Premium Support",
              },
              {
                description: "Target Server Included",
              },
              {
                description: "And Much More...",
              },
            ],
            callToAction: {
              target: "_blank",
              text: "Get Free Demo",
              href: "https://tidycal.com/starshipshield/webouncer",
            },
          },
        ]}
      />
    </section>
    <section class="w-full max-w-5xl px-4 pt-8 mx-auto py-8 mb-24">
      <h1 class="h2 my-b text-center">Compare Plans</h1>

      <PricingTable />
    </section>
  </article>
</Layout>
