---
import Layout from "~/layouts/PageLayout.astro";
import Pricing from "~/components/Pricing.astro";
import PricingTable from "~/components/PricingTable.astro";
import { tidycal_links } from "../../../data";
import { Icon } from "astro-icon";
---

<Layout>
  <title>Webouncer Pricing | Starship Shield</title>
  <meta
    name="description"
    content="Take a look at our pricing model for our unique product & solution Webouncer."
  />
  <article>
    <section class="w-full max-w-5xl px-4 pt-8 mx-auto py-8">
      <h1 class="h2 md:text-center mb-8 text-black">Pricing Plans</h1>
      <Pricing
        title="Our prices"
        subtitle="Only pay for what you need"
        prices={[
          {
            title: "Starter",
            subtitle: "Optimal choice for personal use",
            price: 19,
            period: "per month",
            items: [
              {
                description: "Professional Dashboard",
              },
              {
                description: "Six-Month Support",
              },
              {
                description: "i-Agent",
              },
            ],
            callToAction: {
              target: "_self",
              text: "Get Free Demo",
              href: "https://tidycal.com/starshipshield/webouncer",
            },
          },
          {
            title: "Basic",
            subtitle: "Optimal choice for small teams",
            price: 79,
            period: "Per Month",
            items: [
              {
                description: "Professional Dashboard",
              },
              {
                description: "Six-Month Support",
              },
              {
                description: "i-Agent",
              },
              {
                description: "Source Server Included",
              },
              {
                description: "Certification",
              },
            ],
            callToAction: {
              target: "_self",
              text: "Get Free Demo",
              href: "https://tidycal.com/starshipshield/webouncer",
            },
            hasRibbon: true,
            ribbonTitle: "popular",
          },
          {
            title: "premium",
            subtitle: "Optimal choice for companies",
            price: 199,
            period: "Per Month",
            items: [
              {
                description: "GPDR Conformity",
              },
              {
                description: "Real-Time Monitoring",
              },
              {
                description: "Incident Analysis",
              },
              {
                description: "Premium Support",
              },
              {
                description: "Target Server Included",
              },
              {
                description: "And Much More...",
              },
            ],
            callToAction: {
              target: "_self",
              text: "Get Free Demo",
              href: "https://tidycal.com/starshipshield/webouncer",
            },
          },
        ]}
      />
    </section>
    <section class="w-full max-w-5xl px-4 pt-8 mx-auto py-8 mb-24">
      <h1 class="h2 my-b md:text-center">Compare Plans</h1>
      <PricingTable />
    </section>
  </article>
  <section class="mx-auto lg:max-w-5xl p-4">
    <section
      class="mx-auto text-white lg:max-w-5xl grid grid-cols-1 md:grid-cols-2 px-8 md:px-32 py-12 rounded-md bg-primary mb-24"
    >
      <section class="flex flex-col w-full max-w-md">
        <h1 class="mb-4 h2 font-bold">
          <span class="text-white">
            Do you want to secure your <br />E-Commerce shop?
          </span>
        </h1>
      </section>
      <section
        class="gap-x-4 flex flex-row justify-start md:justify-end items-center"
      >
        <a
          href={tidycal_links.security_webouncer}
          class="bg-white text-black rounded-lg py-3 px-4 md:py-4 md:px-8 duration-200 hover:-translate-y-2"
          >Get Free Demo</a
        >
      </section>
    </section>
  </section>
</Layout>
