---
import { Picture } from "@astrojs/image/components";
---

<div class="w-full max-w-5xl p-4 mx-auto my-24">
  <div
    class="bg-primary w-full rounded-md shadow-xl overflow-hidden md:grid md:grid-cols-2 md:gap-4 lg:grid lg:grid-cols-2 lg:gap-4"
  >
    <div
      class="flex flex-col mb-4 text-white items-start pt-10 pb-12 px-6 sm:pt-16 sm:px-16 md:py-20 md:pr-0 lg:py-20 lg:pr-0 xl:px-20"
    >
      <h1 class="mb-4 info-title font-bold">
        <span class="block text-white"
          >Ready to implement better security? Take your first step.
        </span>
      </h1>
      <p class="text-sm md:text-base py-4">
        Regardless of past cyber security neglect, we will help secure all of
        your vulnerable attack points.
      </p>
      <div
        class="flex justify-cetner mt-8 gap-x-4 items-center duration-200 hover:-translate-y-2"
      >
        <a href="/learn-more" class="btn-white btn-sm">Take First Step</a>
      </div>
    </div>
    <div class="w-full relative">
      <Picture
        class="translate-x-6 h-96 translate-y-6 rounded-md object-cover object-left-top lg:translate-x-4 lg:translate-y-4"
        src="/images/cta.svg"
        width={800}
        height={800}
        widths={[400, 768]}
        sizes="100vw, 432px"
        aspectRatio="300:300"
        alt="sa"
      />
    </div>
  </div>
</div>
