---
import Icon from "astro-icon";
---

<div class="overflow-x-auto">
  <table class="w-60 overflow-clip md:w-full mt-8">
    <thead class="bg-gray-50 dark:bg-gray-900">
      <tr>
        <th scope="col" class="p-4 text-left"> </th>
        <th
          scope="col"
          class="p-4 text-base font-semibold tracking-wider text-right text-gray-900 dark:text-white"
        >
          Freelancer
        </th>
        <th
          scope="col"
          class="p-4 text-base font-semibold tracking-wider text-right text-gray-900 dark:text-white"
        >
          Company
        </th>
        <th
          scope="col"
          class="p-4 text-base font-semibold tracking-wider text-right text-gray-900 dark:text-white"
        >
          Enterprise
        </th>
      </tr>
    </thead>
    <tbody class="bg-white dark:bg-gray-800">
      <tr>
        <td
          class="p-4 text-base font-normal text-gray-500 rounded-l-lg whitespace-nowrap dark:text-gray-400"
        >
          Seperate business/personal
        </td>
        <td class="p-4">
          <Icon name="tabler:check" class="w-5 h-5 ml-auto text-green-400" />
        </td>
        <td class="p-4">
          <Icon name="tabler:check" class="w-5 h-5 ml-auto text-green-400" />
        </td>
        <td class="p-4 rounded-r-lg">
          <Icon name="tabler:check" class="w-5 h-5 ml-auto text-green-400" />
        </td>
      </tr>
      <tr class="bg-gray-50 dark:bg-gray-900">
        <td
          class="p-4 text-base font-normal text-gray-500 whitespace-nowrap dark:text-gray-400"
        >
          Estimate tax payments
        </td>
        <td class="p-4">
          <Icon name="tabler:check" class="w-5 h-5 ml-auto text-green-400" />
        </td>
        <td class="p-4">
          <Icon name="tabler:check" class="w-5 h-5 ml-auto text-green-400" />
        </td>
        <td class="p-4 rounded-r-lg">
          <Icon name="tabler:check" class="w-5 h-5 ml-auto text-green-400" />
        </td>
      </tr>
      <tr>
        <td
          class="p-4 text-base font-normal text-gray-500 rounded-l-lg whitespace-nowrap dark:text-gray-400"
        >
          Stock control
        </td>
        <td class="p-4">
          <Icon name="tabler:check" class="w-5 h-5 ml-auto text-green-400" />
        </td>
        <td class="p-4">
          <Icon name="tabler:check" class="w-5 h-5 ml-auto text-green-400" />
        </td>
        <td class="p-4 rounded-r-lg">
          <Icon name="tabler:check" class="w-5 h-5 ml-auto text-green-400" />
        </td>
      </tr>
      <tr class="bg-gray-50 dark:bg-gray-900">
        <td
          class="p-4 text-base font-normal text-gray-500 whitespace-nowrap dark:text-gray-400"
        >
          Create invoices & estimates
        </td>
        <td class="p-4">
          <Icon name="tabler:x" class="w-5 h-5 ml-auto text-red-400" />
        </td>
        <td class="p-4">
          <Icon name="tabler:check" class="w-5 h-5 ml-auto text-green-400" />
        </td>
        <td class="p-4 rounded-r-lg">
          <Icon name="tabler:check" class="w-5 h-5 ml-auto text-green-400" />
        </td>
      </tr>
      <tr>
        <td
          class="p-4 text-base font-normal text-gray-500 rounded-l-lg whitespace-nowrap dark:text-gray-400"
        >
          Manage bills & payments
        </td>
        <td class="p-4">
          <Icon name="tabler:x" class="w-5 h-5 ml-auto text-red-400" />
        </td>
        <td class="p-4">
          <Icon name="tabler:check" class="w-5 h-5 ml-auto text-green-400" />
        </td>
        <td class="p-4 rounded-r-lg">
          <Icon name="tabler:check" class="w-5 h-5 ml-auto text-green-400" />
        </td>
      </tr>
      <tr class="bg-gray-50 dark:bg-gray-900">
        <td
          class="p-4 text-base font-normal text-gray-500 whitespace-nowrap dark:text-gray-400"
        >
          Run payroll
        </td>
        <td class="p-4">
          <Icon name="tabler:x" class="w-5 h-5 ml-auto text-red-400" />
        </td>
        <td class="p-4">
          <Icon name="tabler:check" class="w-5 h-5 ml-auto text-green-400" />
        </td>
        <td class="p-4 rounded-r-lg">
          <Icon name="tabler:check" class="w-5 h-5 ml-auto text-green-400" />
        </td>
      </tr>
      <tr>
        <td
          class="p-4 text-base font-normal text-gray-500 rounded-l-lg whitespace-nowrap dark:text-gray-400"
        >
          Handle multiple currencies
        </td>
        <td class="p-4">
          <Icon name="tabler:x" class="w-5 h-5 ml-auto text-red-400" />
        </td>
        <td class="p-4">
          <Icon name="tabler:x" class="w-5 h-5 ml-auto text-red-400" />
        </td>
        <td class="p-4 rounded-r-lg">
          <Icon name="tabler:check" class="w-5 h-5 ml-auto text-green-400" />
        </td>
      </tr>

      <tr>
        <td
          class="p-4 text-base font-normal text-gray-500 rounded-l-lg whitespace-nowrap dark:text-gray-400"
        >
          Track deductible mileage
        </td>
        <td class="p-4">
          <Icon name="tabler:x" class="w-5 h-5 ml-auto text-red-400" />
        </td>
        <td class="p-4">
          <Icon name="tabler:x" class="w-5 h-5 ml-auto text-red-400" />
        </td>
        <td class="p-4 rounded-r-lg">
          <Icon name="tabler:check" class="w-5 h-5 ml-auto text-green-400" />
        </td>
      </tr>
      <tr class="bg-gray-50 dark:bg-gray-900">
        <td
          class="p-4 text-base font-normal text-gray-500 whitespace-nowrap dark:text-gray-400"
        >
          Track employee time
        </td>
        <td class="p-4">
          <Icon name="tabler:x" class="w-5 h-5 ml-auto text-red-400" />
        </td>
        <td class="p-4">
          <Icon name="tabler:x" class="w-5 h-5 ml-auto text-red-400" />
        </td>
        <td class="p-4 rounded-r-lg">
          <Icon name="tabler:check" class="w-5 h-5 ml-auto text-green-400" />
        </td>
      </tr>
      <tr>
        <td
          class="p-4 text-base font-normal text-gray-500 rounded-l-lg whitespace-nowrap dark:text-gray-400"
        >
          Multi-device
        </td>
        <td class="p-4">
          <Icon name="tabler:x" class="w-5 h-5 ml-auto text-red-400" />
        </td>
        <td class="p-4">
          <Icon name="tabler:x" class="w-5 h-5 ml-auto text-red-400" />
        </td>
        <td class="p-4 rounded-r-lg">
          <Icon name="tabler:check" class="w-5 h-5 ml-auto text-green-400" />
        </td>
      </tr>
    </tbody>
  </table>
</div>
