---
import Icon from "astro-icon";
const data = [
  {
    name: "Dashboard",
    value1: true,
    value2: true,
    value3: true,
  },
  {
    name: "6 Month support",
    value1: true,
    value2: true,
    value3: true,
  },
  {
    name: "I-Agent",
    value1: true,
    value2: true,
    value3: true,
  },
  {
    name: "Source server included",
    value1: false,
    value2: true,
    value3: true,
  },
  {
    name: "Target server included",
    value1: false,
    value2: false,
    value3: true,
  },
  {
    name: "Certificate",
    value1: false,
    value2: true,
    value3: true,
  },
  {
    name: "Secured backend",
    value1: false,
    value2: false,
    value3: true,
  },
  {
    name: "GDPR compliant",
    value1: false,
    value2: false,
    value3: true,
  },
  {
    name: "Real-time monitoring",
    value1: false,
    value2: false,
    value3: true,
  },
  { name: "Bonus Values", value1: false, value2: true, value3: true },
];
---

<div class="overflow-x-auto">
  <table class="w-60 overflow-clip md:w-full mt-8">
    <thead class="bg-gray-50 dark:bg-gray-900">
      <tr>
        <th scope="col" class="p-4 text-left"> </th>
        <th
          scope="col"
          class="p-4 text-base font-semibold tracking-wider text-right text-black dark:text-white"
        >
          Starter
        </th>
        <th
          scope="col"
          class="p-4 text-base font-semibold tracking-wider text-right text-black dark:text-white"
        >
          Basic
        </th>
        <th
          scope="col"
          class="p-4 text-base font-semibold tracking-wider text-right text-black dark:text-white"
        >
          Premium
        </th>
      </tr>
    </thead>
    <tbody class="bg-white dark:bg-gray-800">
      {
        data.map((item, index) => (
          <tr class={index % 2 === 0 ? "" : "bg-gray-50 dark:bg-gray-900"}>
            <td class="p-4 text-base font-normal rounded-l-lg whitespace-nowrap dark: ">
              {item.name}
            </td>
            <td class="p-4">
              {item.value1 ? (
                <Icon
                  name="tabler:check"
                  class="w-5 h-5 ml-auto text-green-400"
                />
              ) : (
                <Icon name="tabler:x" class="w-5 h-5 ml-auto text-red-400" />
              )}
            </td>
            <td class="p-4">
              {item.value2 ? (
                <Icon
                  name="tabler:check"
                  class="w-5 h-5 ml-auto text-green-400"
                />
              ) : (
                <Icon name="tabler:x" class="w-5 h-5 ml-auto text-red-400" />
              )}
            </td>
            <td class="p-4 rounded-r-lg">
              {item.value3 ? (
                <Icon
                  name="tabler:check"
                  class="w-5 h-5 ml-auto text-green-400"
                />
              ) : (
                <Icon name="tabler:x" class="w-5 h-5 ml-auto text-red-400" />
              )}
            </td>
          </tr>
        ))
      }
    </tbody>
  </table>
</div>
