---
import Item from "~/components/blog/ListItem.astro";
import type { Post } from "~/types";

export interface Props {
  posts: Array<Post>;
}

const { posts } = Astro.props;
---

<ul class="grid grid-cols-1 md:grid-cols-2 gap-8 w-full max-w-7xl">
  {
    posts.map((post) => (
      <li class="mb-12">
        <Item post={post} />
      </li>
    ))
  }
</ul>
