---
import Layout from "~/layouts/PageLayout.astro";
import CalculatorForm from "../../components/AssementCalculator";
---

<Layout>
  <title>Security Assessment Price Calculator | Omni Security</title>
  <meta name="description" content="Take a look at our custom Omni Security Security Assessment Price Calculator that will help you get a rough-estimate of what you would pay if you opted for a standard industry security assessment.">
  <article>
    <section class="max-w-7xl mx-auto px-4 sm:px-6">
      <section class="pt-0 md:pt-[76px] pointer-events-none"></section>
      <section class="py-4 md:py-8">
        <section class="text-center max-w-screen-lg mx-auto">
          <h1 class="h1">
            Security Assessment <span class="text-primary">Price</span> Calculator
          </h1>
        </section>
      </section>
      <section
        class="max-w-5xl mx-auto relative bg-paper rounded-xl p-4 my-12 py-12 px-10"
      >
        <CalculatorForm client:load />
      </section>
    </section>
  </article>
</Layout>
